section.together
    .together__container.container
        h2.together__title.title Вместе веселее!
        p.together__descr
            | Новичок или профи? Спорт - для всех! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
        +button('button', 'вперед!', '')

    img(src='img/svg/cyclist-0.svg' aria-hidden='true').together__char.together__char--1
    img(src='img/svg/cyclist-1.svg' aria-hidden='true').together__char.together__char--2
