section.exercise
    .exercise__container.container
        h2.visually-hidden Определение уровня подготовки
        .swiper-container.exercise-slider
            .swiper-wrapper.exercise-slider__wrapper
                .swiper-slide.exercise-slider__slide
                    b.exercise-slider__title Занятие будет:
                    .exercise-slider__group.checked-checkbox
                        label.exercise-slider__radio.radio-button самостоятельное
                            input(type='radio' name='exercise-type')
                        label.exercise-slider__radio.radio-button групповое
                            input(type='radio' name='exercise-type')
                        label.exercise-slider__radio.radio-button с инвентарем
                            input(type='radio' name='exercise-type')
                        label.exercise-slider__radio.radio-button без инвентаря
                            input(type='radio' name='exercise-type')
                        label.exercise-slider__radio.radio-button в помещении
                            input(type='radio' name='exercise-type')
                        label.exercise-slider__radio.radio-button на улице
                            input(type='radio' name='exercise-type')
                    img(src='img/svg/bubble.svg' aria-hidden='true')
                .swiper-slide.exercise-slider__slide
                    b.exercise-slider__title Определение исходного <br> уровня подготовки
                    .swiper-container.exercise-slider-nested
                        .swiper-pagination.exercise-slider-nested__pagination
                        .swiper-button-next.exercise-slider-nested__nav
                        .swiper-wrapper.exercise-slider-nested__wrapper
                            .swiper-slide.exercise-slider-nested__slide
                                b.exercise-slider-nested__title Первый уровень
                                .exercise-slider-nested__descr
                                    p Первый уровень подготовки это Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                                    p Подходит для  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                            .swiper-slide.exercise-slider-nested__slide
                                b.exercise-slider-nested__title.exercise-slider-nested__title--second Второй уровень
                                .exercise-slider-nested__descr
                                    p Первый уровень подготовки это Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                                    p Подходит для  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                            .swiper-slide.exercise-slider-nested__slide
                                b.exercise-slider-nested__title.exercise-slider-nested__title--third Третий уровень
                                .exercise-slider-nested__descr
                                    p Первый уровень подготовки это Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                                    p Подходит для  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                            .swiper-slide.exercise-slider-nested__slide
                                b.exercise-slider-nested__title.exercise-slider-nested__title--unknown Не знаю
                                .exercise-slider-nested__descr
                                    p Первый уровень подготовки это Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                                    p Подходит для  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                    .exercise__data.exercise-data
                        p.exercise-slider__title
                            b Введите свои данные
                        .start__filter-wrapper
                            .start__filter-gender.checked-checkbox
                                b пол
                                label.radio-button мужской
                                    input(type='radio' name='gender')
                                label.radio-button женский
                                    input(type='radio' name='gender')
                            ul.start__filter-accordion.list-reset
                                +accordion('возраст', 'chevron', 'right')
                                +accordion('вес', 'chevron', 'right')
                                +accordion('рост', 'chevron', 'right')
                                +accordion('группа инвалидности (при наличии)', 'chevron', 'right')
                                    .checked-checkbox
                                        label.radio-button I
                                            input(type='radio' name='disability')
                                        label.radio-button II
                                            input(type='radio' name='disability')
                                        label.radio-button III
                                            input(type='radio' name='disability')
                                        label.radio-button IV
                                            input(type='radio' name='disability')
                                +accordion('Выберите из списка заболевания, которые у вас есть (при наличии):', 'chevron', 'right')
                                    .checked-checkbox
                                        label.radio-button I
                                            input(type='radio' name='disability')
                                        label.radio-button II
                                            input(type='radio' name='disability')
                                        label.radio-button III
                                            input(type='radio' name='disability')
                                        label.radio-button IV
                                            input(type='radio' name='disability')
                .swiper-slide.exercise-slider__slide.prepare.swiper-last
                    b.exercise-slider__title Определение исходного <br> уровня подготоки: тест
                    p.exercise-slider__descr
                        | Выполните следущие пробы, чтобы определить Ваш уровень подготовки.
                        | В зависимост от Ваших резултьтатов, сложность и продолжительность заданий будет отличаться.
                    +accordion('При наличии противопоказаний:', 'chevron', 'left', true).accordion__control--mod
                        p С осторожностью (ограничено) должны использоваться продолжительные физические нагрузки средней интенсивности, физические упражнения, направленные на развитие общей и локальной выносливости, скоростно-силовых качеств; физические упражнения, вызывающие нервное перенапряжение; упражнения, сопровождающиеся значительным сотрясением тела; круговые движения головой, наклоны головы.
                        p Среднеэнергозатратные физические нагрузки (ходьба, скандинавская ходьба, езда на велосипеде, катания на коньках и роликах, йога, подвижные игры и развлечения, настольный теннис) приведены в приложении 1.
                    ul.cards.list-reset
                        li.card
                            .card-title Проба штанге
                                span.card-subtitle (задержка дыхания на вдохе)
                            p.exercise-slider__disclaimer
                                | До основного тестирования необходимо измерить пульс за 30 секунд в положении стоя.
                            p.exercise-slider__disclaimer
                                | Воспользуйтесь таймером ниже и введите значение пульса:
                            .exercise-slider__timer
                                button.exercise-slider__timer-button.btn-reset 00:30
                                    +svg('play')
                                    +svg('pause')
                                input.exercise-slider__input.input
                                p Сядьте. После короткого отдыха сидя сделайте 2-3 глубоких, полных вдоха и выдоха, а затем, сделав спокойный вдох примерно на 2/3 от полного, задержите дыхание.
                                p Нос лучше зажать пальцами (или спортивным зажимом для плавания). Время отмечается от момента задержки дыхания до её прекращения.
                                p Время отмечается от момента задержки дыхания до её прекращения.
                            .exercise-slider__timer
                                button.exercise-slider__timer-button.btn-reset 00:30
                                    +svg('play')
                                    +svg('pause')
                                p Сразу после возобновления дыхания подсчитайте пульс за 30 секунд.
                                input.exercise-slider__input.input
                        li.card
                            .card-title Гарвардский степ-тест
                            p.exercise-slider__disclaimer
                                | До основного тестирования необходимо измерить пульс за 30 секунд в положении стоя.
                            p.exercise-slider__disclaimer
                                | Воспользуйтесь таймером ниже и введите значение пульса:
                            .exercise-slider__timer
                                button.exercise-slider__timer-button.btn-reset 00:30
                                    +svg('play')
                                    +svg('pause')
                            .prepare__complex
                                p Последовательность действий:
                                ol.list-reset
                                    li одна нога поставлена на степ;
                                    li обе ноги на степ;
                                    li одна нога на полу;
                                    li обе ноги на полу.
                                img(src='img/sprite.svg#step' aria-hidden='true')
                            p После упражнения необходимо сесть на стул и посчитать пульс в течение 30 с
                            .exercise-slider__timer
                                button.exercise-slider__timer-button.btn-reset 00:30
                                    +svg('play')
                                    +svg('pause')
                            .prepare__list-container
                                label Пульс через минуту
                                    input(type='text')
                                label Пульс через 2 минуты
                                    input(type='text')
                                label Пульс через 3 минуты
                                    input(type='text')
        button.btn.btn--primary.btn--small.btn-slider далее
        +button('link', 'узнать', 'small', 'level-1.html').swiper-last-button
