section.exercise
    .exercise__container.container
        h2.visually-hidden Определение уровня подготовки
        .swiper-container.exercise-slider
            .swiper-wrapper.exercise-slider__wrapper
                .swiper-slide.exercise-slider__slide
                    b.exercise-slider__title Занятие будет:
                    .exercise-slider__group
                        label.exercise-slider__radio.radio-button самостоятельное
                            input(type='radio' name='exercise-type')
                        label.exercise-slider__radio.radio-button групповое
                            input(type='radio' name='exercise-type')
                        label.exercise-slider__radio.radio-button с инвентарем
                            input(type='radio' name='exercise-type')
                        label.exercise-slider__radio.radio-button без инвентаря
                            input(type='radio' name='exercise-type')
                        label.exercise-slider__radio.radio-button в помещении
                            input(type='radio' name='exercise-type')
                        label.exercise-slider__radio.radio-button на улице
                            input(type='radio' name='exercise-type')
                .swiper-slide.exercise-slider__slide
                    b.exercise-slider__title Определение исходного <br> уровня подготовки
                    .swiper-container.exercise-slider-nested
                        .swiper-pagination.exercise-slider-nested__pagination
                        .swiper-wrapper.exercise-slider-nested__wrapper
                            .swiper-slide.exercise-slider-nested__slide
                                b.exercise-slider-nested__title Первый уровень
                                .exercise-slider-nested__descr
                                    p Первый уровень подготовки это Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                                    p Подходит для  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                            .swiper-slide.exercise-slider__slide
                                b.exercise-slider-nested__title Первый уровень
                                .exercise-slider-nested__descr
                                    p Первый уровень подготовки это Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                                    p Подходит для  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                            .swiper-slide.exercise-slider__slide
                                b.exercise-slider-nested__title Первый уровень
                                .exercise-slider-nested__descr
                                    p Первый уровень подготовки это Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                                    p Подходит для  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                            .swiper-slide.exercise-slider__slide
                                b.exercise-slider-nested__title Первый уровень
                                .exercise-slider-nested__descr
                                    p Первый уровень подготовки это Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                                    p Подходит для  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
        +button('button', 'далее', 'small')
