section.about
    .about__container.container
        h2.about__title.title О проекте
        p.about__descr
            | Прежде, чем начать, пройди простой тест Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis.
        +button-second('Начать', 'middle')
        svg.about__bg
            use(href='img/sprite.svg#about-bg')
