section.disclaimer
    h2.disclaimer__title.title Спорт для тебя!
    .disclaimer__container.container
        img(src='img/svg/man-0.svg').disclaimer__char.disclaimer__char--1
        img(src='img/svg/man-1.svg').disclaimer__char.disclaimer__char--2
        img(src='img/svg/man-2.svg').disclaimer__char.disclaimer__char--3
        img(src='img/svg/man-3.svg').disclaimer__char.disclaimer__char--4
        ul.disclaimer__cards.list-reset.cards
            li.disclaimer__card.card
                h3.disclaimer__card-title.card-title сайт — энциклопедия
                p.disclaimer__card-descr.card-descr
                    | Ты можешь заниматься спортом не выходя из дома. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                +button-second('link', 'подробнее', 'middle', '#')
            li.disclaimer__card.card
                h3.disclaimer__card-title.card-title личный график
                p.disclaimer__card-descr.card-descr
                    | Ты можешь заниматься спортом не выходя из дома. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                +button-second('link', 'подробнее', 'middle', '#')
            li.disclaimer__card.card
                h3.disclaimer__card-title.card-title дома или на улице
                p.disclaimer__card-descr.card-descr
                    | Ты можешь заниматься спортом не выходя из дома. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                +button-second('link', 'подробнее', 'middle', '#')
    .disclaimer__image
        svg
            use(href='img/sprite.svg#bubble')
