section.start
    .start__top
        .start__container.container
            h2.start__title.title С чего начать?
    .start__container.container
        .start__filter
            b.start__filter-title Введите данные и мы подберем занятие для вас:
            .start__filter-wrapper
                .start__filter-gender
                    b пол
                    label.radio-button мужской
                        input(type='radio' name='gender')
                    label.radio-button женский
                        input(type='radio' name='gender')
                ul.start__filter-accordion.list-reset
                    +accordion('возраст', 'chevron', 'right')
                    +accordion('занятия будут проходить в', 'chevron', 'right')
                +button('button', 'поиск', 'small')
            .start__filter-types
                a(href='#') Ходьба
                a(href='#') Езда на велосипеде
                a(href='#') Бег
                a(href='#') Лыжная подготовка
                a(href='#') Катание на коньках
                a(href='#') Скандинавская ходьба
                a(href='#') Плавание
                a(href='#') Йога
                a(href='#') Воркаут
                a(href='#') Фитнес
                a(href='#') Различные виды танцев
                a(href='#') Аэробика
                a(href='#') Футбол
                a(href='#') Волейбол
                a(href='#') Баскетбол
                a(href='#') Хоккей
                a(href='#') Подвижные игры
                a(href='#') Различные виды единоборств
        ul.start__cards.list-reset.cards
            li.start__card.card
                h3.start__card-title.card-title занятие
                p.start__card-descr.card-descr
                    | Пройти тест и выполни задания. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                +button-second('link', 'подробнее', 'middle', '#')
            li.start__card.card
                h3.start__card-title.card-title описание
                p.start__card-descr.card-descr
                    | Узнай историю и интересные факты. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                +button-second('link', 'подробнее', 'middle', '#')
            li.start__card.card
                h3.start__card-title.card-title график занятий
                p.start__card-descr.card-descr
                    | Составь личный график занятий с помощью программы. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
                +button-second('link', 'подробнее', 'middle', '#')
