section.pages
    .pages__container.container
        h2.pages__title.title Список страниц
        ul.pages__list
            li.pages__item
                a(href='index.html').pages__link Главная
            li.pages__item
                a(href='wiki.html').pages__link Вики
            li.pages__item
                a(href='search.html').pages__link С чего начать?

            li.pages__item
                a(href='exercise.html').pages__link Уровень подготовки
            li.pages__item
                a(href='wiki.html').pages__link Вики
            li.pages__item
                a(href='search.html').pages__link С чего начать?
