header.header
    .header__container.container
        button(aria-label='Кнопка управления меню' aria-expanded='false').header__menu-btn.btn-reset#menu-btn
        .header__logo.logo
            a(href='#').logo__image
                svg
                    use(href='img/sprite.svg#logo')
        nav.header__nav.nav
            ul.nav__list.list-reset
                li.nav__item
                    span.nav__item-title Виды двигатльной деятельности
                        svg
                            use(href='img/sprite.svg#chevron')
                    .nav__submenu
                        .nav__item-group
                            a(href='#').nav__item-link.nav__item-link--search Расширенный поиск
                        .nav__item-group
                            a(href='#').nav__item-link Ходьба
                            a(href='#').nav__item-link Езда на велосипеде
                            a(href='#').nav__item-link Бег
                            a(href='#').nav__item-link Лыжная подготовка
                            a(href='#').nav__item-link Катание на коньках
                            a(href='#').nav__item-link Скандинавская ходьба
                            a(href='#').nav__item-link Плавание
                        .nav__item-group
                            a(href='#').nav__item-link Йога
                            a(href='#').nav__item-link Воркаут
                            a(href='#').nav__item-link Фитнес
                            a(href='#').nav__item-link Различные виды танцев
                            a(href='#').nav__item-link Аэробика
                        .nav__item-group
                            a(href='#').nav__item-link Футбол
                            a(href='#').nav__item-link Волейбол
                            a(href='#').nav__item-link Баскетбол
                            a(href='#').nav__item-link Хоккей
                            a(href='#').nav__item-link Подвижные игры
                            a(href='#').nav__item-link Различные виды единоборств

                li.nav__item
                    span.nav__item-title Тесты
                li.nav__item
                    span.nav__item-title Глосарий
                li.nav__item
                    span.nav__item-title Занятия
