html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin: 0;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-white);

  @include desktop {
    background-color: #f7f7f7;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.list-reset {
  @include list-reset;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  @include btn-reset;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1260px; // ширина контейнера от края до края 1180 + паддинги по 15px = 1210px
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--grid-gap);

  @include tablet {
    grid-template-columns: repeat(12, 1fr);
  }
}

.btn {
  @include btn-reset;

  position: relative;
  padding: 11px 28px 12px;
  width: fit-content;
  font: var(--paragraph-1-bold);
  color: var(--color-black);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &--small {
    padding: 9px 28px 8px;
    font: var(--paragraph-3-bold);
  }

  &--primary {
    color: var(--color-black);
    background-color: var(--color-lime);

    &:hover {
      text-decoration: underline;
      background-color: var(--color-lime-hover);
    }

    &:active {
      text-decoration: underline;
      background-color: var(--color-lime-active);
    }
  }

  &--secondary {
    color: var(--color-white);
    background-color: var(--color-main);

    &:hover {
      background-color: var(--color-main-hover);
    }
  }

  &--thirdly {
    display: flex;
    align-items: center;
    padding: 9px 45px 7px 0;
    font: var(--heading-3);
    text-transform: uppercase;
    color: var(--color-black);
    background-color: transparent;

    svg {
      position: absolute;
      right: 0;
      width: 45px;
      height: 45px;
    }

    &-middle {
      padding: 6px 46px 7px 0;
      font: var(--paragraph-1-bold);

      svg {
        width: 35px;
        height: 35px;
      }
    }

    &-small {
      padding: 4px 41px 4px 0;
      font: var(--paragraph-2-bold);

      svg {
        width: 28px;
        height: 28px;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.title {
  margin: 0 0 var(--second-offset);
  font: var(--heading-3);
  text-transform: uppercase;
  color: var(--color-black);
}

@import "mixins";

.radio-button {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    display: block;
    border: 1px solid var(--color-black);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    transform: translateY(-50%);
  }

  input {
    appearance: none;
  }

  input:checked {
    &::after {
      content: "";
      position: absolute;
      left: -18px;
      top: 50%;
      display: block;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: var(--color-black);
      transform: translateY(-50%);
    }
  }
}

.custom-checkbox {
  @include custom-checkbox;

  &__content {
    padding-left: 35px;
    font: var(--middle-book);
    color: var(--color-main);

    &::before {
      top: -3px;
      border-color: var(--color-black);
      border-radius: 50%;
      width: 24px;
      height: 24px;
    }

    &::after {
      top: -3px;
      width: 24px;
      height: 24px;
      background-image: url("../img/check.svg");
      background-size: 14px 14px;
    }
  }
}

.tooltip {
  position: relative;
  margin-left: var(--small-offset);
}

.tooltip__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  box-shadow: 2px 4px 10px rgba(0, 13, 84, 0.2);
  background: var(--color-white);

  svg {
    width: 6px;
    height: 10px;
  }
}

.tooltip__txt {
  position: absolute;
  left: -10px;
  bottom: calc(100% + 14px);
  z-index: 3;
  border-radius: 4px;
  padding: var(--small-offset) var(--second-offset);
  width: max-content;
  max-width: 426px;
  box-shadow: 4px 8px 20px rgba(0, 13, 84, 0.2);
  font: var(--small-book);
  text-transform: initial;
  color: var(--color-main);
  background: var(--color-white);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.tooltip__txt::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -8px;
  border-style: solid;
  border-width: 10px 8px 0;
  border-color: var(--color-white) transparent transparent transparent;
  border-radius: 4px;
  width: 0;
  height: 0;
}

.tooltip__btn:hover + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.tooltip__btn:focus + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.input {
  border: 1px solid var(--color-black);
  padding: 6px calc(var(--second-offset) / 2);
  width: 100%;
  height: 34px;
  min-width: 120px;
  font: var(--paragraph-2);
  color: var(--color-black);
  background-color: transparent;

  &::placeholder {
    color: var(--color-iron);
  }
}

.main {
  padding-top: 44px;
}
