section.intro
    .intro__container.container
        h2.intro__title.title Спорт для всех
        p.intro__descr
            | Новичок или профи? Спорт - для всех! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eleifend sagittis turpis at convallis. Vestibulum pellentesque dapibus imperdiet. Aliquam scelerisque mauris sit amet neque porta, sit amet maximus massa posuere. Nulla lobortis scelerisque quam, at placerat justo ultrices.
        ul.intro__steps.list-reset
            li.intro__steps-item
                svg
                    use(href='img/sprite.svg#checklist')
                span пройди простой тест
            li.intro__steps-item
                svg
                    use(href='img/sprite.svg#power')
                span выполни упражнения
            li.intro__steps-item
                svg
                    use(href='img/sprite.svg#timer')
                span проверь свой результат

