footer.footer
    h2.visually-hidden Подвал сайта
    .footer__container.container
        ul.footer__nav.list-reset
            li.footer__item
                a(href='#').footer__link О нас
            li.footer__item
                a(href='#').footer__link Спонсоры
            li.footer__item
                a(href='#').footer__link Разработчики
            li.footer__item
                a(href='#').footer__link Контакты
            li.footer__item.footer__social
                ul.social.list-reset
                    li.social__item
                        a(href='#' aria-label='facebook').social__link
                            +svg('fb')
                    li.social__item
                        a(href='#' aria-label='instagram').social__link
                            +svg('ig')
                    li.social__item
                        a(href='#' aria-label='youtube').social__link
                            +svg('yt')
